@font-face {
    font-family: "Lemon/Milk";
    src: url("LemonMilk.otf");
    font-weight: normal;
    font-style: normal;
}

text {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 36pt;
}

#name-title {
    font-family: "Lemon/Milk";
    font-size: 140px;	       
}

#experience-title {
    font-family: "Lemon/Milk";
    font-size: 80px;
}

.experience-field {
    fill: #696969;
    font-size:48pt;
}

.section-title {
    font-family: "Lemon/Milk";
    font-size: 54px;
}

.general-field {
}
